body{
    background:#FBFBFB;
    color:#333333;
    font-size:1em;
    overflow-y:hidden;
}
a {
    color:#1488CC;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a:hover{
    color:#333333;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.header--global{
    padding-top:10px;
    padding-bottom:10px;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}
.header--global .user--details{
    float:right;
    display: inline-block;
    text-align:right;
    margin-right:10px;
    color:#FFF;
}
.header--global .user--details .fullname{
    font-weight: bold;
}
.header--global .user--details .wallet_id{
    font-size:13px;
}
.header nav{
    height: 70px;
    line-height: 35px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 10px 30px 0 rgba(229,238,242,.5);
}
.header nav a{
    margin-right:20px;
    color:#333333;
    text-decoration: none;
    font-weight: bold;
    font-size:1.1em;
}
.header nav a:hover{
    color:#1488CC;
}
.header nav a.active{
    color:#1488CC;
}
.header nav .loadfunds-menu {
    display: inline-block;
    margin-right:20px;
}
.header nav .loadfunds-menu button{
    padding:0;
    text-transform: capitalize;
}
.header nav .user-menu {
    float:right;
}
.header nav .user-menu .mdl-button{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1em;
}
.header nav .mdl-button:hover{
    color:#1488CC;
    background:none;
}
.footer--global{
    font-size:0.7em;
    font-weight: bold;
    text-transform: uppercase;
    padding-top:30px;
    padding-bottom:30px;
}
.footer--global .footer--links{
    text-align:right;
}
.footer--global .footer--links li:last-child::after{
    margin-left:0;
    content:"";
    margin-right:0;
}
.footer--global .footer--links li{
    display: inline-block;
}
.footer--global .footer--links a{
    color:#333333;
    text-decoration: none;
    font-weight: bold;
}
.footer--global .footer--links li::after{
    content: "|";
    margin-left:10px;
    margin-right:10px;
}
.footer--global .footer--links a:hover{
    color:#1488CC;
}

.page--content{
    max-width:1000px;
    margin: 0 auto;
    width:100%;
}
.login-register{
    overflow-y:scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.loginbox{
    width:400px;
    border-radius: 0px;
    padding:40px;
    color:#fff;
    border:2px solid #FFF;
}
.loginbox h5{
    color:#fff;
    text-align:center;
}
.loginbox .logo{
    text-align: center;
    margin-bottom:30px;
}
.loginbox .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #FFF!important;
    font-size: 12px;
    top: 4px;
    visibility: visible;
}
.loginbox .mdl-textfield__input{
    border: none;
    color:#FFF!important;
    border-bottom: 1px solid rgba(255,255,255,1);
    display: block;
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
}
.loginbox .mdl-textfield__label{
    color:#FFF!important;
}
.loginbox .mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: #1488CC;
    -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    transition: all 1s cubic-bezier(.4,0,1,1);
}
.loginbox .mdl-textfield__label:after {
    background-color: #FFF;
    bottom: 20px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    visibility: hidden;
    width: 10px;
}
.loginbox .mdl-radio__label{
    color:#FFF;
}
.loginbox .mdl-radio {
    margin-right:20px;
}
.loginbox .getmdl-select.countrycode{
    width:30%;
}
.loginbox .phonenumber{
    width:70%;
    float:right;
}
.loginbox .mdl-checkbox__ripple-container .mdl-ripple {
    background: #FFFFFF;
}
.loginbox .mdl-checkbox__ripple-container {
    position: absolute;
    z-index: 2;
    top: -6px;
    left: -10px;
    box-sizing: border-box;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle,#fff,#FFF);
}
.login-box .mdl-checkbox__box-outline {
    position: absolute;
    top: 3px;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 2px;
    z-index: 2;
    margin-bottom:10px;
}
.login-box .mdl-radio__ripple-container {
    position: absolute;
    z-index: 2;
    top: -9px;
    left: -13px;
    box-sizing: border-box;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(circle,#fff,#FFF);
}
.login-box .mdl-radio__outer-circle {
    position: absolute;
    top: 4px;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 50%;
    z-index: 2;
}
.login-box .mdl-radio__inner-circle {
    position: absolute;
    z-index: 1;
    margin: 0;
    top: 8px;
    left: 4px;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    cursor: pointer;
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: transform;
    transition-property: transform,-webkit-transform;
    -webkit-transform: scale(0,0);
    transform: scale(0,0);
    border-radius: 50%;
    background: #FFF;
}
.loginbox .mdl-checkbox__box-outline {
    position: absolute;
    top: 3px;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 2px;
    z-index: 2;
}
.loginbox .mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background: #fff url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiI…lsZT0iZmlsbDojZmZmZmZmO2ZpbGwtb3BhY2l0eToxO3N0cm9rZTpub25lIiAvPgo8L3N2Zz4K);
}
.loginbox .mdl-radio.is-checked .mdl-radio__outer-circle {
    border: 2px solid #FFF;
}
.loginbox .mdl-radio__inner-circle{
    background:#FFF;
}
.loginbox .mdl-radio__outer-circle {
    position: absolute;
    top: 4px;
    left: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 16px;
    height: 16px;
    margin: 0;
    cursor: pointer;
    border: 2px solid rgba(255,255,255,1);
    border-radius: 50%;
    z-index: 2;
}
/* Helpers and Corrections */
.text-align-right{
    text-align: right;
}
.text-align-center{
    text-align: center;
}
.float-right{
    float: right;
}
.mdl-list__item-avatar, .mdl-list__item-avatar.material-icons{
    background-color:#FFF;
}
.main--content{
    padding-top:100px;
    padding-bottom:100px;
}
.block{
    background-color:#FFFFFF;
    box-shadow: 0 10px 30px 0 rgba(229,238,242,.7);
    border-radius: 4px;
    padding:40px 20px;
}
.block .loginbox .mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label{
    color:#1488CC!important;
}
.block.shortcut{
    text-align: center;
    font-weight: bold;
}
.block.shortcut i{
    color:#1488CC;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.block .block--title{
    margin-top:10px;
    padding-left:20px;
    padding-right:20px;
}
a.block{
    color:#333333;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a.block:hover{
    color:#fff;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
a.block:hover i{
    color:#FFFFFF;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.account_balances_dash{
    border-radius: 4px;
    padding:20px;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: 0 10px 30px 0 rgba(229,238,242,.5);
    color:#FFFFFF;
    font-weight: bold;
}
.account_balances_dash h2{
    font-weight: bold;
    margin-bottom:0;
    margin-top: 0;
}
.drawer {
    position: fixed;
    width: 40%;
    max-width: 800px;
    height: 100%;
    right: 0;
    top: 0;
    padding: 60px;
    background-color: #fff;
    z-index: 999;
    transform: translate3d(100%, 0, 0);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.drawer--is-open .drawer {
    transform: none;
    box-shadow: -10px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.drawer .icon--close {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    color:#333333;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 998;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.drawer--is-open .overlay {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}
.mastecardlogo{
    margin-top:20px;
}
.mastecardlogo img{
    width:70px;
    margin-left:10px;
    margin-right:10px;
}
/* Mobile Menu */

.menu-mob {
    position: fixed;
    width: 40%;
    max-width: 800px;
    height: 100%;
    left: 0;
    top: 0;
    padding: 60px;
    background-color: #fff;
    z-index: 999;
    transform: translate3d(-100%, 0, 0);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menumob--is-open .menu-mob {
    transform: none;
    box-shadow: -10px 0px 20px 0px rgba(0, 0, 0, 0.15);
}
.menu-mob .icon--close-menu {
    position: absolute;
    top: 40px;
    right: 40px;
    cursor: pointer;
    color:#333333;
}
.overlay-for-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 998;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.menumob--is-open .overlay-for-menu {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
}
.menu__content a{
    text-transform: uppercase;
    display: block;
    font-size:1em;
    margin-bottom:20px;
    color:#333333;
    font-weight: bold;
}
.menu__content .user-menu .mdl-button{
    font-size:1em;
    padding: 0;
    font-weight: bold;
}
.menu__content .user-menu .mdl-button:hover {
    background-color: rgba(158,158,158,0);
}
/* Materials Fix */
.mdl-textfield{
    width:100%;
}
textarea{
    outline:0;
}
.mdl-button--raised {
    background: #1488CC;
    color:#FFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}
.mdl-button--raised:hover{
    color:#333333;
}
.mdl-button--raised.mdl-button--colored {
    background: #1488CC;
    color: #fff;
}
.getmdl-select {
    outline: none;
  }
  .getmdl-select .mdl-textfield__input {
    cursor: pointer;
  }
  .getmdl-select .selected {
    background-color: #ddd;
  }
  .getmdl-select .mdl-icon-toggle__label {
    float: right;
    margin-top: -30px;
    color: rgba(0, 0, 0, 0.4);
    transform: rotate(0);
    transition: transform 0.3s;
  }
  .getmdl-select.is-focused .mdl-icon-toggle__label {
    color: #1488CC;
    transform: rotate(180deg);
  }
  .getmdl-select .mdl-menu__container {
    width: 100% !important;
    margin-top: 2px;
  }
  .getmdl-select .mdl-menu__container .mdl-menu {
    width: 100%;
  }
  .getmdl-select .mdl-menu__container .mdl-menu .mdl-menu__item {
    font-size: 16px;
  }
  
  .getmdl-select__fix-height .mdl-menu__container .mdl-menu {
    overflow-y: auto;
    max-height: 288px !important;
  }
  .getmdl-select__fix-height .mdl-menu.mdl-menu--top-left {
    bottom: auto;
    top: 0;
  }
  .mdl-tabs__tab-bar{
      justify-content: left;
  }
  .mdl-tabs__panel{
      margin-top:50px;
  }
  .mdl-components__warning {
    background-color: #FFF9C4;
    padding: 16px;
    border-radius: 2px;
    color: #212121;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label, .mdl-textfield--floating-label.is-dirty .mdl-textfield__label, .mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
    color: #1488CC;
    font-size: 12px;
    top: 4px;
    visibility: visible;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active:after {
    height: 2px;
    width: 100%;
    display: block;
    content: " ";
    bottom: 0;
    left: 0;
    position: absolute;
    background: #1488CC;
    -webkit-animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    animation: border-expand .2s cubic-bezier(.4,0,.4,1).01s alternate forwards;
    transition: all 1s cubic-bezier(.4,0,1,1);
}
.mdl-textfield__label:after {
    background-color: #1488CC;
    bottom: 20px;
    content: '';
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    visibility: hidden;
    width: 10px;
}
.accordion-head{
    background-color:#FFFFFF;
    box-shadow: 0 10px 30px 0 rgba(229,238,242,.7);
    border-radius: 4px;
    padding:20px 30px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}
.accordion-head-title{
    cursor: pointer;
}
.accordions{
    padding-top:20px;
    padding-bottom:20px;
    display: none;
}
.accordion{
    padding:20px;
    background: #1488CC;
    background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);
    background: linear-gradient(to left, #2B32B2, #1488CC);
    color:#FFF;
    border-radius: 4px;
    margin-bottom:10px;
}
.accordion .accordion-title{
    cursor: pointer;
}
.accordion .accordion-content{
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #f1f1f1;
    display: none;
    font-size:1em;
    text-transform: none;
}
.button-mob{
    background:#1488CC;
    position:fixed;
    bottom:20px;
    left:20px;
    border-radius:50%;
    width:40px;
    height:40px;
    line-height: 40px;
    box-shadow: 0 10px 30px 0 rgba(229,238,242,.7);
    text-align:center;
    cursor:pointer;
    z-index:997;
    display:none;
}
.button-mob i{
    margin-top:7px;
    color:#FFFFFF;
}
.button-white{
    width:100%;
    background:#FFF;
    color:#1488CC;
}
.button-white:hover{
    width:100%;
    background:#1488CC;
    color:#ffffff;
}
.dropzone{
    color:#FFF;
    background:rgb(197, 230, 250);
    padding:40px;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align:center;
}
.dropzone input[type=file]{
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left:0;
    top:0;
    cursor:pointer;
}
.dropzone input[type=file] i{  
    display:block;
}
.add-currency .mdl-button--raised {
    background: transparent;
    color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.12);
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    font-size:14px;
    font-weight: bold;
    margin-left:10px;
    font-weight: 100;
}
.account-balance-title{
    font-size:24px;
    font-weight: 100;
    letter-spacing: 0.01em;
    text-shadow: 1px 1px #2B32B2;
}
.add-currency .mdl-textfield{
    width:110px;
}
.add-currency .mdl-textfield.is-upgraded .mdl-textfield__label{
    color:rgba(255, 255, 255, 0.5);
    font-weight: 300;
    font-size:14px;
}
.add-currency .getmdl-select .mdl-icon-toggle__label {
    color: rgba(255, 255, 255, 1);
}
.add-currency .mdl-textfield__label {
    color: rgba(255, 255, 255, 1);
}
.add-currency .mdl-textfield__input {
    width:100px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.account--total{
    font-size:20px;
    font-weight: 100;
    text-shadow: 1px 1px #2B32B2;
    margin-top:15px;
}
.account--total h4{
    display: inline;
    font-size:14px;
    font-weight: 400;
    text-transform: uppercase;
    color:rgba(255, 255, 255, 0.7);
    margin-top:0;
}
.account--total h2{
    display: inline;
    font-size:24px;
    font-weight: 100;
    text-shadow: 1px 1px #2B32B2;
}
.account--total p{
    font-size:13px;
    color:#FFF;
    text-shadow: none;
    letter-spacing: 0.02em;
    text-shadow: 1px 1px #2B32B2;
}
.account--total .balance span{
    font-size:11px;
}
.account--total:last-child{
    border-right:0px solid #FFF;
}
.copyright {
    font-size:9px;
    line-height: 10px;
}
.dtp { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.4); z-index: 2000; font-size: 14px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.dtp > .dtp-content { background: #fff; max-width: 300px; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); max-height: 520px; position: relative; left: 50%; }
.dtp > .dtp-content > .dtp-date-view > header.dtp-header { 
    background: #1488CC;
    background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);
    background: linear-gradient(to left, #2B32B2, #1488CC);
    color: #fff;
    text-align: center;
    padding: 0.3em;
}

.dtp div.dtp-date, .dtp div.dtp-time {
    background: #1488CC;
    background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);
    background: linear-gradient(to left, #2B32B2, #1488CC);
    text-align: center;
    color: #fff; padding: 10px;
}
.dtp div.dtp-date > div { padding: 0; margin: 0; }
.dtp div.dtp-actual-month { font-size: 1.5em; }
.dtp div.dtp-actual-num { font-size: 3em; line-height: 0.9; }
.dtp div.dtp-actual-maxtime { font-size: 3em; line-height: 0.9; }
.dtp div.dtp-actual-year { font-size: 1.5em; color: #DCEDC8; }
.dtp div.dtp-picker { padding: 1em; text-align: center; }

.dtp div.dtp-picker-month, .dtp div.dtp-actual-time { font-weight: 500; text-align: center; }
.dtp div.dtp-picker-month { padding-bottom:20px!important; text-transform: uppercase!important; }

.dtp .dtp-close { position: absolute; top: 0.5em; right: 1em; }
.dtp .dtp-close > a { color: #fff; }
.dtp .dtp-close > a > i { font-size: 1em; }

.dtp table.dtp-picker-days { margin: 0; min-height: 251px;}
.dtp table.dtp-picker-days, .dtp table.dtp-picker-days tr, .dtp table.dtp-picker-days tr > td { border: none; }
.dtp table.dtp-picker-days tr > td {  font-weight: 700; font-size: 0.8em; text-align: center; padding: 0.5em 0.3em; }
.dtp table.dtp-picker-days tr > td > span.dtp-select-day { color: #BDBDBD!important; padding: 0.4em 0.5em 0.5em 0.6em;}
.dtp table.dtp-picker-days tr > td > a, .dtp .dtp-picker-time > a { color: #212121; text-decoration: none; padding: 0.4em 0.5em 0.5em 0.6em; border-radius: 50%!important; }
.dtp table.dtp-picker-days tr > td > a.selected{ background: #1488CC; color: #fff; }
.dtp table.dtp-picker-days tr > th { color: #757575; text-align: center; font-weight: 700; padding: 0.4em 0.3em; }

.dtp .p10 > a { color: #FFF; text-decoration: none; }
.dtp .p10 { width: 10%; display: inline-block; }
.dtp .p20 { width: 20%; display: inline-block; }
.dtp .p60 { width: 60%; display: inline-block; }
.dtp .p80 { width: 80%; display: inline-block; }

.dtp a.dtp-meridien-am, .dtp a.dtp-meridien-pm { position: relative; top: 10px; color: #212121; font-weight: 500; padding: 0.7em 0.5em; border-radius: 50%!important;text-decoration: none; background: #eee; font-size:1em; }
.dtp .dtp-actual-meridien a.selected { background: #1488CC; color: #fff; }

.dtp .dtp-picker-time > .dtp-select-hour { cursor: pointer; }
.dtp .dtp-picker-time > .dtp-select-minute { cursor: pointer; }

.dtp .dtp-buttons { padding: 0 1em 1em 1em; text-align: right; }

.dtp.hidden, .dtp .hidden { display: none; }
.dtp .invisible { visibility: hidden; }

.dtp .left { float: left; }
.dtp .right { float: right; }
.dtp .clearfix { clear: both; }

.dtp .center { text-align: center; }

.dtp-picker-year{
    margin-bottom: 1px;
}

.year-picker-item{
    text-align: center;
    padding-top: 5px;
    font-size: large;
    cursor: pointer;
    margin: 0 auto;
}

.dtp-actual-year:hover{
    cursor: pointer;
}
.dtp-actual-year.disabled:hover{
    cursor: inherit;
}
.year-picker-item:hover{
    color:#1488CC;;
}

.year-picker-item.active{
    color:#1488CC;
    font-weight: bold;
}

.dtp-select-year-range{
    display: inline-block;
    text-align: center;
    width: 100%;
}
.account--total .mdl-shadow--2dp{
    box-shadow: 0 0px 0px 0 rgba(0,0,0,.14), 0 0px 0px 0px rgba(0,0,0,.2), 0 0px 0px 0 rgba(0,0,0,.12);
}
.account--total .mdl-data-table{
    border:0;
    background:transparent;
    width: 100%;
}
.account--total .mdl-data-table th{
    color:white;
}
.account--total .mdl-data-table tbody tr:hover{
    background: transparent;
}
.account--total a{
    color:#FFF;
}
.account--total a:hover{
    color:rgba(255, 255, 255, 0.5);
}
.mdl-data-table td:first-of-type, .mdl-data-table th:first-of-type{
    padding:0;
}
.green--icon i{
    color:#24fc94!important;
}
.red--icon i{
    color:#fc2443!important;
}
@media (min-width: 320px) and (max-width: 767px) {
    .loginbox{
        width: auto;
        margin: 0px 10px 0px 10px;
    }
.logo{
    text-align: center;
}
.footer--global{
    text-align: center!important;
}
.footer--global .footer--links{
    text-align: center;
}
.user--details{
    text-align: center!important;
    float:left!important;
    display: block!important;
    width: 100%;
}
.drawer{
    width:50vw;
}
.button-mob{
    display: block;
}
.account--total{
    border-right:0px solid #FFF;
    border-bottom:1px solid #FFF;
    text-align:left;
}
.mdl-tabs__tab{
    line-height: 16px;
}
}
@media (min-width: 768px) and (max-width: 1024px) {
    .logo{
        text-align: left;
    }
    .footer--global{
        text-align: center!important;
    }
    .footer--global .footer--links{
        text-align: center;
    }
    .user--details{
        text-align: right!important;
        float:right!important;
        display: inline-block!important;
    }
    .drawer{
        width:50vw;
    }
    .button-mob{
        display: block;
    }
}    

